table {
    text-align: left;
}

td img {
    width: 30px;
    height: 30px;
    border-radius: 50%;   
}

.ticket-body{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 600px;
}

.ticket-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.ticket-row img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.description p {
    width: 100%;
    padding: 2px;
    height: 5em;
    outline: 1px solid #d2d2d2;
    border-radius: 5px;
    overflow-y: auto;
}

.email-input{
    width: 100%;
}

.icon-label{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}

.full-width {
    width: 100%;
  }

.save-button{
    justify-self: flex-end;
}

table{
    border-spacing: 0 2em;
}