<div class="nav">
    @for (board of boards; track board) {
        <div class="nav-item">
            <h4 mat-line (click)="navigateToBoard(board.boardId)" class="link">{{ board.boardName }}</h4>
            <button mat-icon-button (click)="openDeleteDialog(board)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    }
    <button mat-flat-button color="accent" class="navbutton">
        <mat-icon>add</mat-icon>
        Add Board
    </button>
</div>