.add-list {
  display: flex;
  gap: 1em;
}

.add-list input {
  flex: 1;
  font-size: 16px;
  border-radius: 10px;
  border-width: 1px;
}

.add-list button {
  font-size: 16px;
  width: 3em;
  height: 3em;
}
