<div class="boards-container">
  <app-header></app-header>
  <mat-sidenav-container id="navcontainer">
    <mat-sidenav mode="side" opened class="sidenav">
        <div class="nav">
          @for (board of boards; track board) {
            <h4 mat-line>{{ board }}</h4>
          }
          <button mat-flat-button color="accent" class="navbutton">
            <mat-icon>add</mat-icon>
            Add Board
          </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content id="maincontent">
      @for (list of board?.lists; track list) {
        <div class="container">
          <div>
            <h2>{{ list.listName }}</h2>
            <div
              cdkDropList
              [id]=list.listId.toString()
              [cdkDropListData]="list.tickets"
              [cdkDropListConnectedTo]="getConnectedLists(list.listId)"
              class="list"
              (cdkDropListDropped)="drop($event)">
              @for (ticket of list.tickets; track ticket) {
                <app-ticket [ticket]="ticket"></app-ticket>
              }
            </div>
          </div>
          <app-add-ticket [listId]="list.listId" (newTicket)="addNewTicket($event)"></app-add-ticket>
        </div>
      }
      @if (found) {
        <div class="addlist-container">
          <h2>Add List</h2>
          <app-add-list (newList)="addNewList($event)"></app-add-list>
        </div>
      } @else {
        No Board found :(
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
