<div class="boards-container">
  <app-header></app-header>
  <mat-sidenav-container id="navcontainer">
    <mat-sidenav mode="side" opened class="sidenav">
        <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content id="maincontent">
      @defer (when found) {
        @if (home) {
          <div class="error-container">
            <app-error-view
              [header]="'Welcome to Frello'"
              [body]="'Try creating a board to get started'"
            >
            </app-error-view>
          </div>
        }
        @else if (board){
          <app-board [board]="board"></app-board>
        }
        @else {
          <div class="error-container">
            <app-error-view
              [header]="'Oops! Something went wrong'"
              [body]="'Please try again later'"
            >
            </app-error-view>
          </div>
        }
      }
      @placeholder {
        @if (!error) {
          <div class="loader">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        }
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
  